
.cartMainDiv {
    height: fit-content;
    margin-top: 55px;
    margin-bottom: 2vh;
    padding: 30px;
    overflow-y: scroll;
    border: 1px solid rgb(203 203 203);
    
}
.productImage {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.cartInnerMainDiv {
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(225, 224, 224);
}
.cartNamePara, 
.cartDescriptionPara, 
.cartPricePara, 
.cartPriceParaValue{
    font-size: 30px;
}
.cartPriceParaValue {
    font-weight: bold;
}
.cartDescriptionPara {
    width: 80%;
    height: 3em;
    margin-bottom: 11px;
    float: left;
    overflow-y: auto;
    scroll-behavior: auto;
    font-size: 26px;
    color: #5e5252;
    scroll-behavior: smooth;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 

}
.cartDescriptionPara::-webkit-scrollbar {
    display: none;
}

.cartDescriptionDiv {
    margin-left: 20px;
    width: 64%;
    align-content: center;
    height: 176px;

}
.innerCartDecriptionDiv {
    display: grid;
}
.cartRemoveBtn {
    /* width: 213px;
    margin-right: 33px;
    height: 100px;
    font-size: 26px;
    border-radius: 23px;
    background-color: #db5716e3;
    border: none;
    color: white;
    font-weight: bold; */
    border: none; 
}
.cartPricePara {
    margin-top: 10px;
    font-size: 27px;
}
.checkoutFirstDiv {
    display: flex;
    justify-content: space-between;
}
.cartCheckOutSection {
    padding: 63px;
    height: 367px;
    line-height: 80px;
    margin-bottom: 300px;
}
.cartCheckoutButtonDiv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.checkoutBtn {
    height: 128px;
    width: 100%;
    border-radius: 21px;
    background-color: #111a2c;
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 100px;
}
.cartNamePara.cartBold {
    font-weight: bold;
    font-size: 23px;
}
.myOrderPara {
    font-size: 40px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: bold;
}