html, body {
    height: 100%;
}
.dashboardMainDiv {
    border: 1px solid red;
    padding: 50px;
    height: 225vh;
    margin-bottom: 300px;
    
}
.greetingsMessageDiv {
    margin-top: 70px;
}
.greetingsMessageDiv p, 
.categories {
    font-size: 30px;
}
.boldWelcome {
    font-weight: bold;
}
.searchDiv {
    margin-top: 50px;
    width: 96%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 8em;
    border-radius: 9px;
    border: 2px solid #bec2be;
    outline: 2px solid #e4e4e4;
}
.searchInputForm {
    height: 3em;
    width: 20em;
    font-size: 34px;
    border: none; 
    outline: none;
    background: transparent;
}
.searchLogo {
    height: 50px;
    width: 55px;
    margin-right: 20px;
}
.categoriesDiv {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.categories {
    font-size: 40px;
    font-weight: bold; 
}
.seeAllPara {
    font-size: 35px;
}
.trendingViews {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 100%;
    height: 610px;
    margin-bottom: 40px;
    padding-top: 18px;
}
.trendingImageViews {
    height: 343px;
    width: 360px;
    border-radius: 21px;
}
.viewOne {
    margin-right: 37px;
    border: 1px solid #e5e2e2;
    width: 500px;
    height: 519px;
    border-radius: 11px;
    padding: 40px;
    background: rgb(253 250 250 / 38%);
    box-shadow: 4px 6px 9px -6px;
}
.bold {
    font-weight: bold;
    font-size: 28px;
}
.priceDescriptionDiv {
    margin-top: 10px;
    font-size: 30px;
    height: 130px;
    overflow-y: scroll;
}
.priceDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addLogo {
    height: 71px;
    width: 71px;
}
.companyDisplayMainDiv {
    height: fit-content;
    margin-bottom: 60px;
}
/* .companyDisplayImageDiv {
    background-image: url("");
    background-repeat:no-repeat;
    background-size:cover;
    height: 50%;
} */
.companyDisplayImageLogo {
    width: 100%;
    height: 600px;
    border-radius: 30px;
}
.companyDisplayDescriptionDiv {
    margin-top: 50px;
    font-size: 35px;
}
.companyDisplayPara {
    font-size: 30px;
    margin-top: 15px;
    color: #828282; 
}
.companyDisplayRatingMainDiv {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-size: 27px;
}
.innerDisplayRatingDiv {
    display: flex;
    align-items: center;
    justify-content: left;
}
.innerDisplayRatingLogo {
    height: 70px;
    width: 70px;
    margin-right: 20px; 
}
.companyDisplayProductsSelectionDiv {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    width: 100%;
    height: 140px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 18px;
}
.companyDisplaySelections {
    margin-right: 37px;
    height: 128px;
    width: 400px;
    border-radius: 11px;
}
.companyDisplaySelectionBtn {
    height: 128px;
    width: 400px;
    margin-right: 40px;
    font-size: 30px;
    padding: 20px;
    border-radius: 19px;
    background-color: #fa893de3;
    color: white; 
    border: none; 
    font-weight: bold;
}
.shawarmaHeaderDiv {
    font-size: 30px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 60vh;
    background-color: white;
    padding: 7px;
    margin-top: 20px;
    overflow-y: scroll;
    margin-bottom: 300px;
    padding-bottom: 45px;
}

/* Style the individual grid items (images) */
.gridItem {
    margin-right: 0px;
    border: 1px solid #e5e2e2;
    width: 396px;
    height: 600px;
    border-radius: 11px;
    display: grid;
    background: white;
    box-shadow: 4px 6px 9px -6px;
    justify-items: center;
    padding-top: 30px;

}
.mainPriceDescriptionDiv {
    width: 90%;
    padding-left: 12px;
    height: 198px;
}
.productDesc {
    font-size: 20px;
    color: #3c3c3c;
    margin-right: 69px;
}
.payButtonDiv {
    width: 100%;
}
.payButton {
    height: 5em;
    font-size: 25px;
    background-color: #91441b;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 14px;
}
.fullImageDisplay {
    transition: all 0.3s ease-in-out;
    background-color: green;
}
.fullImageDisplay:active {
    transition: all 0.3s ease-in-out;
}
.trendingViewsDescPara {
    font-size: 22px;
    color: #645454;
}   