* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
    background-color: white;
}
body {
    font-family: 'Poppins';
    background-color: white;
}
.homeMainDiv {
    margin: 20px; 
    height: 100vh;
    padding-top: 50px;
    background-color: white;
}
.skipBtn {
    width: 100%;
    height: 4em;
    background-color: transparent;
    color: #756c6c;
    border: 1px solid #e1e1e1;
    font-weight: bolder;
    border-radius: 6px;
    font-size: 37px;
    margin: 0px;
      margin-top: 0px;
    margin-top: 20px;
    border-radius: 10px;
}
.homeLogoDiv {
    height: 480px;
    margin-top: 20px;
    margin-bottom: 300px;
}
.header {
    font-size: 58px;
    color: #db6416e3; 
}
.homeLogo {
    height: 711px;
    width: 98%;
    border-radius: 16px;
    border: 1px solid #ddd;
}
.headerDiv, .descriptionParagraphDiv {
    text-align: center;
    margin-bottom: 25px;
}
.placeBold {
    color: #eea26f; 
}
.descPara {
    color: #828282; 
    font-size: 30px;
    margin-bottom: 30px;
}
.buttonsDiv {
    margin-top: 20px;
    padding: 60px;
}
.getStartedBtn {
    width: 100%;
    height: 4em;
    background-color: #fd7720;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    font-size: 37px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}
.getStartedBtn:hover, 
.getStartedBtn:focus, 
.getStartedBtn:active {
    background-color: #dd691e; 
}