.loginDisplayHeaderDiv {
    background: black;
    height: 25vh;
    text-align: center;
    padding-top: 250px;
    font-size: 44px;
    color: white;
    font-size: 30px;
}
.flashMessageDiv p {
    background-color: black;
    text-align: left;
    padding-left: 30px;
}
.loginDisplayHeader, 
.loginDisplayPara {
    color: white; 
    background-color: black;
}
#flashMessageDiv {
    border: 1px solid rgb(81, 78, 78);
    position: fixed;
    top: 20; 
    left: -100%; 
    width: 70%;
    text-align: center;
    font-size: 30px;
    float: right;
    height: 93px;
    padding-top: 40px;
    margin-top: -202px;
    margin-left: 20px;
    background-color: black;
    border-radius: 13px;
    transition: left 0.3s ease-in;
}
#flashMessageDiv.open {
    left: 0; 
    width: 70%;
}
.loginDiv {
    border-top-left-radius: 34px;
    padding: 45px;
    height: 60vh;
    margin-top: -35px;
    border-top-right-radius: 34px;
}
.loginFormPlaceholderDiv {
    margin-top: 35px;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginCheckbox {
    width: 47px;
    margin-right: 12px;
}
.loginBtn {
    width: 100%;
    height: 117px;
    background-color: #fd7720;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    font-size: 37px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}
.loginCheckboxDiv {
    display: flex;
}
.loginLinkTag {
    text-decoration: none;
    color: #828282; 

}
.loginLinkTag.forgotPasswordLink {
    color: #fd7720; 
}
.loginDontHaveAnAccountDiv {
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
}

/* Adding the loader style */
.lds-roller {
    display: flex;
    position: relative;
    width: 100%;
    color: black;
    background: black;
    align-items: center;
    justify-content: center;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    /* transform-origin: 40px 40px; */
    transform-origin: 20px 51px;
    height: 40px;
    width: 40px;
    background-color: #fd7720;
    border-radius: 25px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fd7720;
    margin: -4px 0 0 -4px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
@keyframes lds-roller {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
