.menuLogo {
    height: 70px;
    border: none;
    width: 70px;
}
.menuBtn {
    border: 1px solid #dddddd;
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0px 1px 14px -10px;
}
.navMainDiv {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
#menuContainer {
    position: fixed;
    top: 0;
    left: -200%;
    /* left: 0;  */
    width: 85%;
    height: 100vh;
    border: 2px solid rgb(226, 226, 226); 
    background-color: white;
    transition: left 0.3s ease-in;
    font-size: 12px;
    padding: 20px;
}

#menuContainer.open {
    left: 0; 
    width: 85%;
    transition: left 0.3s ease-out;
}
#cartContainer {
    position: fixed;
    top: 0;
    right: -200%;
    /* left: 0;  */
    width: 85%;
    height: 100vh;
    border: 2px solid rgb(226, 226, 226); 
    background-color: white;
    transition: right 0.3s ease-in;
    font-size: 12px;
    padding: 20px;
}
#cartContainer.openCart {
    right: 0; 
    width: 85%;
    transition: right 0.3s ease-out;
}
.menuContainerHeaderDiv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
.closeLogoImage {
    height: 100px;
    width: 100px;
}
.closeLogoBtn {
    margin-right: 10px;
    border: none;
}
.companyLogo {
    height: 140px;
    width: 140px;
    padding-left: 20px; 
}
.menuContainerItemsDiv {
    margin-top: 70px;
    padding-left: 30px; 
}
.menuContainerList a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black; 
    font-size: 35px;
    margin-bottom: 50px;
}
.menuContainerList {
    list-style-type: none;
}
.menuHeaders {
    margin-left: 20px; 
    font-weight: lighter;
    color: rgb(52, 52, 52); 
}
.menuContainerLogo {
    height: 90px;
    width: 90px; 
}
.menuContainerItemsDivInnerUpperSection {
    height: 600px;
}
.menuContainerItemsDivInnerLowerSection {
    height: 300px;
    margin-top: 50px;
    /* border: 2px solid blue;  */
}
.cartLogoDiv {
    display: flex;
}
#cartLogoDiv {
    position: fixed;
    float: right;
    margin-left: 78%;
}
.cartCount {
    font-size: 20px;
    color: rgb(104, 98, 98);
    font-weight: bold;
    border-radius: 28px;
    padding-top: 7px;
    margin-top: -10px;
}