* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
body {
    font-family: 'Poppins';
}
.registerDisplayHeaderDiv {
    background: black;
    height: 25vh;
    text-align: center;
    padding-top: 250px;
    font-size: 44px;
    color: white;
}
.registerDisplayHeaderDiv h1, 
.registerDisplayHeaderDiv p {
    background-color: black;
}
.registerDisplayHeaderPara {
    margin-top: 20px;
    font-size: 30px;
}
.inputFormError {
    width: 96%;
    height: 140px;
    font-size: 35px;
    padding-left: 25px;
    background-color: #f4f4f4;
    margin-bottom: 47px;
    margin-top: 9px;
    border-radius: 8px;
    outline: none;
    border: 2px solid red; 
}
.registerDiv {
    border-top-left-radius: 34px;
    padding: 45px;
    height: 90vh;
    margin-top: -35px;
    border-top-right-radius: 34px;
}
.inputForm {
    width: 96%;
    height: 140px;
    font-size: 35px;
    padding-left: 25px;
    background-color: #f4f4f4;
    border: 2px solid #c5c5ce;
    margin-bottom: 47px;
    margin-top: 9px;
    border-radius: 8px;
    outline: none;
}
.labelHeader {
    font-size: 35px;
}
.registerBtnDiv {
    padding-top: 60px; 
}
.registerBtn {
    width: 100%;
    height: 117px;
    background-color: #fd7720;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    font-size: 37px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}
#flashMessageDiv {
    border: 1px solid rgb(81, 78, 78);
    position: fixed;
    top: 20; 
    left: -100%; 
    width: 70%;
    text-align: center;
    font-size: 30px;
    float: right;
    height: 93px;
    padding-top: 40px;
    margin-top: -202px;
    margin-left: 20px;
    background-color: black;
    border-radius: 13px;
    transition: left 0.3s ease-in;
}
#flashMessageDiv.open {
    left: 0; 
    width: 70%;
}

/* Customize the Swal2 title */
.swal2-title {
    font-size: 49px;
    padding: 1.8em 1em 0; 
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 76%;
    height: 50vh;
    border-radius: 15px;
}
.swal2-styled.swal2-confirm {
    border-radius: 0.25em;
    background: initial;
    background-color: #fd7720;
    color: #fff;
    border: none;
    font-size: 34px;
    width: 26vh;
    height: 6vh;
    border-radius: 15px;
}
div:where(.swal2-container) .swal2-html-container {
    font-size: 40px;
}
.swalpara {
    color: black; 
}
