.leaflet-container {
    height: 65vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.tile-layer-class  { 
    background-repeat: no-repeat;
    background-size: cover;
}
.mapDiv {
    margin: auto;
    margin-top: 95px;
    height: 65vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid rgb(184, 177, 177);
} 
.navMainDiv {
    padding-left: 0px; 
    padding-top: 10px; 
}
.trackOrderButtonDiv {
    padding-left: 40px;
    padding-top: 50px; 
}
.goBackBtn {
    height: 107px;
    width: 60%;
    border-radius: 15px;
    font-size: 34px;
    border: none;
    background-color: #e37554;
    color: white;
    font-weight: bold;
}