<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title> Admin Page </title>
</head>
<body>
    <!-- Adding the main div -->
    <header class="header">
        <p> Admin Login </p>
    </header>

    <!-- Adding the div -->
    <section class="loginSection"> 
        <div class="inputFormDiv"> 
            <label> Email </label><br> 
            <input type="text" name="email" id="email" class="inputForm" placeholder="Email address"><br>
        </div>

        <div class="inputFormDiv"> 
            <label> Password </label><br> 
            <input type="password" name="password" id="password" class="inputForm" placeholder="Password"> <br>
        </div>

        <div class="inputFormDiv">
            <button class="loginBtn" id="loginBtn"> Login </button>
        </div>
       

    </section>
    
    <!-- Adding the js script file -->
    <script src="../js/admin.js"></script>
</body>
</html>