<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registerAdmin.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Register Admin</title>
</head>
<body>
    <!-- Adding the header div -->
    <header class="header"> 
        <p> Register Admin </p>
    </header>

    <!-- Adding the register main section -->
    <section class="registerMainSection"> 
        <div class="inputFormDiv"> 
            <label> Fullname </label> <br> 
            <input type="text" id="fullname" class="inputForm" placeholder="Fullname" />
        </div>
        <div class="inputFormDiv"> 
            <label> Email </label> <br> 
            <input type="email" id="email" class="inputForm" placeholder="Email address"> <br> 
        </div>

        <div class="inputFormDiv">
            <label> Encryption key </label> <br> 
            <input type="password" id="encKey" class="inputForm" placeholder="Encryption key"> <br> 
        </div>

        <div class="inputFormDiv"> 
            <label> Password </label> <br> 
            <input type="password" id="password" class="inputForm" placeholder="Password"> <br> 
        </div>

        <div class="inputFormDiv"> 
            <button class="registerBtn" id="registerBtn"> Register Admin </button>
        </div>
    </section>
    

    <!-- Adding the javascript script -->
    <script src="../js/registerAdmin.js"></script>
</body>
</html>