<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/upload.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title> Upload Products </title>
</head>
<body>

    <section class="mainSection"> 
        <div class="formInnerDiv"> 
            <label> Name </label> <br> 
            <input type="text" class="inputForm" placeholder="Name of Products" id="name">
        </div>

        <div class="formInnerDiv"> 
            <label> Description </label> <br> 
            <input type="text" class="inputForm" placeholder="Description of Products" name="" id="description">
        </div>

        <div class="formInnerDiv"> 
            <label> Image upload </label><br> 
            <input type="file" id="fileUpload">
        </div>

        <div class="formInnerDiv"> 
            <label> Price </label><br> 
            <input type="text" class="inputForm" placeholder="Price" id="price">
        </div>

        <div class="formInnerDiv"> 
            <button class="uploadBtn" id="uploadBtn"> Upload Product </button>
        </div>

    </section>
    

    <!-- Adding the javascript -->
    <script src="../js/upload.js"></script>
</body>
</html>