* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Poppins';
}
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 32vh;
    align-content: center;
    align-items: center;
}
.loginSection {
    margin-top: 20px;
    padding: 20px; 
}
.inputFormDiv {
    margin-bottom: 20px;
}
.inputForm {
    width: 96%;
    height: 47px;
    border: 1px solid #e1dede;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}
.loginBtn {
    width: 100%;
    height: 45px;
    border: 1px solid white;
    border-radius: 5px;
    background: #ff6000;
    color: white;
    font-weight: bold;
}