* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
    box-sizing: border-box;
}
.formInnerDiv {
    margin-bottom: 20px;
}
.mainSection {
    padding: 40px;
}
.inputForm {
    height: 4em;
    padding-left: 1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e7e7e7;
}
.uploadBtn {
    height: 4em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #6868d9;
    background-color: #6a6ac7;
    color: white;
    font-weight: bold;
}